* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
/* NAV */
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  background-color: var(--black);
}

/* NAV LOGO */
nav #logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
#logo img {
  width: 50px;
  height: 50px;
}
#logo h1 {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-bold);
  color: var(--white);
}

/* NAV MENU */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
nav #menu {
  display: none;
}
.menu-mobile {
  position: absolute;
  right: 0;
  top: 82px;
  z-index: 99;
  background-color: var(--black);
  width: 100%;
  display: flex;
  gap: 0;
  padding: 0.5rem 0;
  transition: var(--transition);
  animation: slideFromLeft var(--slow-transition) forwards;
}

.menu-mobile li {
  padding: 0.5rem;
}
.menu-mobile a {
  color: var(--white);
}
nav ul li {
  transition: var(--transition);
}
nav ul li a {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: var(--font-size-nav-item);
  font-weight: var(--font-weight-light);
  color: var(--white);
}
nav ul li:hover {
  transform: translateY(-0.2rem);
}

/* page */
.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5rem 0;
  background-color: var(--black);
}
.page h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  color: var(--white);
}
.page p {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-light);
  color: var(--dark-gray);
}

/* EXPERIENCE */

.experience{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem 0;
  background-color: var(--black);
}

.experience h2{
  color : var(--white);
  
}

.experience li ,.experience p{
  margin-left: 1rem;
  color: var(--gray) !important;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-top: 2rem;
  flex-wrap: wrap;
  background-color: var(--black);
}

.project-card {
  background-color: var(--light-shadow);
  border-radius: var(--border-radius);
  color: white;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  text-align: left;
  border: 0.1rem solid #252525;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0 0.1rem var(--light-gray);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h2 {
  margin: 12px 16px 8px;
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-bold);
  color: var(--white);
}

.project-card p {
  margin: 0 16px 16px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  color: var(--dark-gray);
}

/*------------------------------- MEDIA QUERIES ------------------------------------*/
@media (width < 1024px) {
  nav {
    padding: 1rem 5rem;
  }

  .page {
    padding: 2rem 0;
  }
}
@media (width < 768px) {
  nav {
    padding: 1rem 2rem;
  }
  nav ul {
    display: none;
  }
  nav #menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav #menu button {
    background-color: transparent;
    cursor: pointer;
  }
  nav #menu button i {
    font-size: 1.5rem;
  }

  .page {
    padding: 2rem 0;
  }
  .page h1 {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
    padding: 0 2rem;
  }
  .page p {
    text-align: center;
    padding: 0 2rem;
  }
  .page button {
    padding: 0.7rem 1.5rem;
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
